* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding-top: 20px; }

.upload {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px; }
  .upload-area {
    width: 100%;
    height: 150px;
    border: 2px dashed #ccc;
    font-size: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; }
    .upload-area .upload-counts {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 10px; }
      .upload-area .upload-counts__count {
        font-size: 1.25rem; }
        .upload-area .upload-counts__count--green {
          color: green; }
        .upload-area .upload-counts__count--red {
          color: red; }
        .upload-area .upload-counts__count--orange {
          color: orange; }
    .upload-area--gray {
      background-color: #f5f5f5; }
    .upload-area--red {
      opacity: 0.5;
      border-color: red;
      pointer-events: none; }
    .upload-area__title {
      color: green; }
    .upload-area__input {
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
      display: inline;
      width: 100%;
      height: 100%;
      opacity: 0; }
  .upload-list {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px; }
  .upload .list-item {
    display: flex;
    flex-direction: column; }
    .upload .list-item__title {
      width: 80%;
      font-size: 0.75rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .upload .list-item__progress {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .upload .list-item__progress--gray {
        width: 80%;
        height: 20px;
        background-color: #f0f0f0; }
      .upload .list-item__progress--blue {
        height: 100%;
        width: 0;
        background-color: #3498db; }
      .upload .list-item__progress--green {
        background-color: green; }
      .upload .list-item__progress--red {
        background-color: #f75454; }
      .upload .list-item__progress--percent {
        font-weight: 700; }
  .upload-buttons {
    padding-top: 10px;
    display: flex;
    justify-content: space-between; }
  .upload-button {
    width: 48%;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s; }
    .upload-button:hover {
      color: black; }
    .upload-button:disabled:hover {
      color: white; }
    .upload-button--red {
      background-color: red; }
    .upload-button--green {
      background-color: green; }
    .upload-button--disabled {
      cursor: not-allowed;
      opacity: 0.5; }
