* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 20px;
}

.upload {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;

  &-area {
    width: 100%;
    height: 150px;
    border: 2px dashed #ccc;
    font-size: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &--gray {
      background-color: #f5f5f5;
    }

    &--red{
      opacity: 0.5;
      border-color: red;
      pointer-events: none
    }

    &__title {
      color: green;
    }

    &__count {
      color: darkgoldenrod;
    }

    &__input {
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
      display: inline;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  &-list {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .list-item {
    display: flex;
    flex-direction: column;

    &__title {
      width: 80%;
      font-size: 0.75rem;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__progress {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &--gray {
        width: 80%;
        height: 20px;
        background-color: #f0f0f0;
      }

      &--blue {
        height: 100%;
        width: 0;
        background-color: #3498db;
      }

      &--green {
        background-color: green;
      }

      &--red{
        background-color: rgb(247, 84, 84);
      }

      &--percent {
        font-weight: 700;
      }
    }
  }

  &-btns {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  &-btn {
    width: 48%;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      color: black;
    }
    &:disabled {
      &:hover {
        color: white;
      }
    }

    &--red {
      background-color: red;
    }

    &--green {
      background-color: green;
    }

    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}